<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility" />

    <rule ref="PSR2"/>

    <!-- Check for cross-version support for PHP 8.0 and higher (matches composer.json's "php": ">=8.0"). -->
    <config name="testVersion" value="8.0-"/>

    <!-- Run against the PHPCompatibility ruleset -->
    <rule ref="PHPCompatibility"/>

    <rule ref="PHPCompatibility.Extensions.RemovedExtensions">
        <properties>
            <property name="functionWhitelist" type="array" value="random_int"/>
        </properties>
    </rule>

    <file>src/</file>
    <file>test/</file>

</ruleset>